#!/bin/bash

# If you want to deploy it as production stage,
# export STAGE="production"

# You can load scheduling entries from the outer file such as "scheduler.json"
# export SCHEDULE="$(cat schedule.json)"

# And please write your own slack hook url.
# export SLACK_HOOK_URL="https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX"
