export SCHEDULE='{"0":["c++ weekly"],"1":["python weekly"],"2":["golang weekly"],"3":["dart weekly"],"4":["typescript weekly"],"5":["javascript weekly"]}'
export SLACK_HOOK_URL="https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX"
